In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sqlite3

# Preprocessing
#from tensorflow import keras
from sklearn.compose import make_column_transformer, make_column_selector, ColumnTransformer
from sklearn.ensemble import AdaBoostRegressor, VotingRegressor, GradientBoostingRegressor, StackingRegressor, RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import TimeSeriesSplit, cross_val_score
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import RobustScaler

# Model
from sklearn.dummy import DummyRegressor
from xgboost import XGBRegressor
import optuna
import shap

In [2]:
DATA_PATH = os.path.join(os.path.dirname(os.getcwd()), 'data')

# 1. Import processed data

In [3]:
df_data = pd.read_csv(os.path.join(DATA_PATH,'processed_entsoe_data.csv'))

df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86752 entries, 0 to 86751
Data columns (total 93 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   datetime                             86752 non-null  object
 1   BE_Biomass                           86712 non-null  float64
 2   DE_Biomass                           84576 non-null  float64
 3   ES_Biomass                           86689 non-null  float64
 4   FR_Biomass                           86681 non-null  float64
 5   IT_Biomass                           86662 non-null  float64
 6   BE_Fossil Brown coal/Lignite         108 non-null    float64
 7   DE_Fossil Brown coal/Lignite         84576 non-null  float64
 8   ES_Fossil Brown coal/Lignite         86689 non-null  float64
 9   BE_Fossil Gas                        86712 non-null  float64
 10  CH_Fossil Gas                        6143 non-null   float64
 11  DE_Fossil Gas                        84576 non-null  float64
 12  ES_Fossil Gas                        86689 non-null  float64
 13  FR_Fossil Gas                        86681 non-null  float64
 14  IT_Fossil Gas                        86663 non-null  float64
 15  BE_Fossil Hard coal                  37837 non-null  float64
 16  DE_Fossil Hard coal                  84576 non-null  float64
 17  ES_Fossil Hard coal                  86689 non-null  float64
 18  FR_Fossil Hard coal                  82726 non-null  float64
 19  IT_Fossil Hard coal                  65161 non-null  float64
 20  BE_Fossil Oil                        86712 non-null  float64
 21  DE_Fossil Oil                        84576 non-null  float64
 22  ES_Fossil Oil                        86689 non-null  float64
 23  FR_Fossil Oil                        86680 non-null  float64
 24  IT_Fossil Oil                        86659 non-null  float64
 25  BE_Hydro Pumped Storage_Consumption  58858 non-null  float64
 26  DE_Hydro Pumped Storage_Consumption  84480 non-null  float64
 27  ES_Hydro Pumped Storage_Consumption  86689 non-null  float64
 28  FR_Hydro Pumped Storage_Consumption  38966 non-null  float64
 29  IT_Hydro Pumped Storage_Consumption  27782 non-null  float64
 30  BE_Hydro Pumped Storage_Generation   43875 non-null  float64
 31  DE_Hydro Pumped Storage_Generation   84480 non-null  float64
 32  ES_Hydro Pumped Storage_Generation   17834 non-null  float64
 33  FR_Hydro Pumped Storage_Generation   47998 non-null  float64
 34  IT_Hydro Pumped Storage_Generation   58881 non-null  float64
 35  BE_Hydro Run-of-river and poundage   86712 non-null  float64
 36  CH_Hydro Run-of-river and poundage   79705 non-null  float64
 37  DE_Hydro Run-of-river and poundage   84576 non-null  float64
 38  ES_Hydro Run-of-river and poundage   86689 non-null  float64
 39  FR_Hydro Run-of-river and poundage   86678 non-null  float64
 40  IT_Hydro Run-of-river and poundage   86663 non-null  float64
 41  BE_Hydro Water Reservoir             108 non-null    float64
 42  CH_Hydro Water Reservoir             82417 non-null  float64
 43  DE_Hydro Water Reservoir             84575 non-null  float64
 44  ES_Hydro Water Reservoir             86689 non-null  float64
 45  FR_Hydro Water Reservoir             86469 non-null  float64
 46  IT_Hydro Water Reservoir             86663 non-null  float64
 47  BE_Nuclear                           86712 non-null  float64
 48  CH_Nuclear                           82489 non-null  float64
 49  DE_Nuclear                           69719 non-null  float64
 50  ES_Nuclear                           86689 non-null  float64
 51  FR_Nuclear                           86680 non-null  float64
 52  BE_Other                             86712 non-null  float64
 53  DE_Other                             84576 non-null  float64
 54  ES_Other                             86689 non-null  float64
 55  IT_Other                             86663 non-null  float64
 56  BE_Solar                             86712 non-null  float64
 57  CH_Solar                             86689 non-null  float64
 58  DE_Solar                             84528 non-null  float64
 59  ES_Solar                             86689 non-null  float64
 60  FR_Solar                             86690 non-null  float64
 61  IT_Solar                             86687 non-null  float64
 62  BE_Waste                             86712 non-null  float64
 63  DE_Waste                             84551 non-null  float64
 64  ES_Waste                             86689 non-null  float64
 65  FR_Waste                             86681 non-null  float64
 66  IT_Waste                             86662 non-null  float64
 67  BE_Wind Offshore                     78848 non-null  float64
 68  DE_Wind Offshore                     84576 non-null  float64
 69  ES_Wind Offshore                     86689 non-null  float64
 70  FR_Wind Offshore                     13338 non-null  float64
 71  BE_Wind Onshore                      86712 non-null  float64
 72  CH_Wind Onshore                      86689 non-null  float64
 73  DE_Wind Onshore                      84528 non-null  float64
 74  ES_Wind Onshore                      86689 non-null  float64
 75  FR_Wind Onshore                      86680 non-null  float64
 76  IT_Wind Onshore                      86658 non-null  float64
 77  BE_actual_load                       86712 non-null  float64
 78  CH_actual_load                       86712 non-null  float64
 79  DE_actual_load                       84576 non-null  float64
 80  ES_actual_load                       86681 non-null  float64
 81  FR_actual_load                       86625 non-null  float64
 82  IT_actual_load                       86712 non-null  float64
 83  BE_price                             86656 non-null  float64
 84  CH_price                             86752 non-null  float64
 85  DE_price                             84519 non-null  float64
 86  ES_price                             86752 non-null  float64
 87  FR_price                             86656 non-null  float64
 88  IT_price                             86656 non-null  float64
 89  Year                                 86752 non-null  int64
 90  Month                                86752 non-null  int64
 91  Day                                  86752 non-null  int64
 92  Hour                                 86752 non-null  int64
dtypes: float64(88), int64(4), object(1)
memory usage: 61.6+ MB

## Feature engineering

In [4]:
DAY = 60 * 60 * 24
YEAR = 365.2425 * DAY

def feature_engineering(df):

    df_preproc = df.copy()

    df_preproc.index = pd.to_datetime(df_preproc['datetime'], utc=True).dt.tz_convert('Europe/Paris')

    df_preproc.drop(columns=['datetime'], inplace=True)

    df_preproc['Seconds'] = df_preproc.index.map(pd.Timestamp.timestamp)

    df_preproc['Day_sin'] = np.sin(df_preproc['Seconds'] * (2 * np.pi / DAY))
    df_preproc['Day_cos'] = np.cos(df_preproc['Seconds'] * (2 * np.pi / DAY))
    df_preproc['Year_sin'] = np.sin(df_preproc['Seconds'] * (2 * np.pi / YEAR))
    df_preproc['Year_cos'] = np.cos(df_preproc['Seconds'] * (2 * np.pi / YEAR))

    df_preproc.drop(columns=['Seconds'], inplace=True)

    return df_preproc

df_preproc = feature_engineering(df_data)

## Split train test

In [7]:
COUNTRY_DICT = {
        'France': 'FR',
        'Germany': 'DE',
        'Germany_Luxembourg': 'DE',
        'Germany_Austria_Luxembourg': 'DE',
        'Italy': 'IT',
        'Italy_North': 'IT',
        'Spain': 'ES',
        'Great Britain': 'GB',
        'Netherlands': 'NL',
        'Belgium': 'BE',
        'Switzerland': 'CH',
        'Austria': 'AT',
    }

In [16]:
df_data

,datetime,BE_Biomass,DE_Biomass,ES_Biomass,FR_Biomass,IT_Biomass,BE_Fossil Brown coal/Lignite,DE_Fossil Brown coal/Lignite,ES_Fossil Brown coal/Lignite,BE_Fossil Gas,...,BE_price,CH_price,DE_price,ES_price,FR_price,IT_price,Year,Month,Day,Hour
0,2015-01-01 00:00:00+01:00,68.0,5014.50,447.0,193.00,NaN,0.0,15687.25,329.0,2536.0,...,NaN,44.94,NaN,50.10,NaN,NaN,2015,1,1,0
1,2015-01-01 01:00:00+01:00,69.0,4966.25,449.0,193.00,NaN,0.0,15321.75,328.0,2509.0,...,NaN,43.43,NaN,48.10,NaN,NaN,2015,1,1,1
2,2015-01-01 02:00:00+01:00,69.0,5001.00,448.0,193.00,NaN,0.0,14817.50,323.0,2463.0,...,NaN,38.08,NaN,47.33,NaN,NaN,2015,1,1,2
3,2015-01-01 03:00:00+01:00,68.0,5023.75,438.0,193.00,NaN,0.0,14075.00,254.0,2243.0,...,NaN,35.47,NaN,42.27,NaN,NaN,2015,1,1,3
4,2015-01-01 04:00:00+01:00,67.0,5022.75,428.0,193.00,NaN,0.0,14115.00,187.0,2134.0,...,NaN,30.83,NaN,38.41,NaN,NaN,2015,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86747,2024-12-31 19:00:00+01:00,81.0,4445.25,386.0,355.50,194.0,NaN,6731.25,0.0,807.0,...,81.30,125.02,67.77,159.44,92.78,160.00,2024,12,31,19
86748,2024-12-31 20:00:00+01:00,84.0,4238.50,387.0,355.50,195.0,NaN,5656.00,0.0,781.0,...,45.60,114.76,35.56,156.10,79.04,156.00,2024,12,31,20
86749,2024-12-31 21:00:00+01:00,86.0,4150.50,387.0,357.50,196.0,NaN,4381.00,0.0,778.0,...,17.60,110.09,15.70,150.85,50.11,143.03,2024,12,31,21
86750,2024-12-31 22:00:00+01:00,85.0,4072.00,390.0,355.25,196.0,NaN,4321.00,0.0,778.0,...,4.04,113.60,9.06,144.40,63.36,141.00,2024,12,31,22
86751,2024-12-31 23:00:00+01:00,84.0,4051.25,390.0,358.25,191.0,NaN,3460.50,0.0,776.0,...,-1.26,106.00,0.52,139.37,60.18,134.32,2024,12,31,23

In [26]:
country = 'ES'

country_cols = df_data.columns[df_data.columns.str.contains(country)].tolist()


# Add the column 'datetime' at the end of the list 
country_cols = country_cols + ['datetime']

country_cols

['ES_Biomass',
 'ES_Fossil Brown coal/Lignite',
 'ES_Fossil Gas',
 'ES_Fossil Hard coal',
 'ES_Fossil Oil',
 'ES_Hydro Pumped Storage_Consumption',
 'ES_Hydro Pumped Storage_Generation',
 'ES_Hydro Run-of-river and poundage',
 'ES_Hydro Water Reservoir',
 'ES_Nuclear',
 'ES_Other',
 'ES_Solar',
 'ES_Waste',
 'ES_Wind Offshore',
 'ES_Wind Onshore',
 'ES_actual_load',
 'ES_price',
 'datetime']

In [ ]:
# Looking at missing values in generation data
country_missing_index = {}

for country in list(set(COUNTRY_DICT.values())):
    #list all columns for the country

    print(country)

    country_cols = df_data.columns[df_data.columns.str.contains(country)].tolist()

    if country_cols == []:
        next

    else:
        
        df_country = df_data[country_cols].copy()

        df_country.drop(columns=[country + '_price', country + '_actual_load'], inplace=True)

        country_missing_index[country] = df_country[df_country.isnull().all(axis=1)].index.tolist()

        print(country_missing_index[country])

ES
[451, 452, 643, 661, 971, 1017, 2136, 2505, 2685, 2859, 2868, 2869, 2870, 2871, 2872, 2873, 3945, 4273, 6410, 8547, 10684, 12821, 14958, 17095, 19232, 21369, 23506, 25643, 27780, 29917, 32054, 33408, 34191, 36328, 38465, 40602, 42739, 43175, 43176, 43177, 43178, 43179, 44876, 46688, 47013, 49150, 51287, 53424, 55561, 57698, 59835, 61972, 64109, 66246, 68383, 70520, 72657, 74794, 76931, 79068, 81205, 83342, 85479]
IT
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2136, 4273, 6410, 8547, 10684, 12821, 14958, 17095, 19232, 21369, 23506, 25643, 27780, 29917, 32054, 34191, 36328, 38465, 40602, 42739, 44876, 47013, 49150, 51287, 53424, 55561, 57698, 59835, 61972, 64109, 66246, 68383, 70520, 72657, 74794, 76931, 79068, 81205, 83342, 85479]
AT
NL
FR
[2136, 4273, 6034, 6410, 8547, 8949, 9207, 10684, 12821, 12930, 13651, 13745, 13746, 14921, 14958, 15235, 15236, 15239, 15830, 17095, 19232, 21369, 23506, 25643, 27780, 28029, 29917, 32054, 34191, 36328, 36810, 38465, 40602, 41804, 42739, 44876, 47013, 49150, 51287, 53424, 55561, 57698, 59835, 61972, 63235, 64109, 66246, 68383, 70520, 71926, 71927, 72657, 72702, 72868, 72869, 74794, 76931, 79068, 81205, 83342, 85479]
DE
[2136, 4273, 6410, 8547, 10684, 12821, 14958, 17095, 19232, 21369, 23506, 25643, 27780, 29917, 32054, 32055, 32056, 32057, 32058, 32059, 32060, 32061, 32062, 32063, 32064, 32065, 32066, 32067, 32068, 32069, 32070, 32071, 32072, 32073, 32074, 32075, 32076, 32077, 32078, 32079, 32080, 32081, 32082, 32083, 32084, 32085, 32086, 32087, 32088, 32089, 32090, 32091, 32092, 32093, 32094, 32095, 32096, 32097, 32098, 32099, 32100, 32101, 32102, 32103, 32104, 32105, 32106, 32107, 32108, 32109, 32110, 32111, 32112, 32113, 32114, 32115, 32116, 32117, 32118, 32119, 32120, 32121, 32122, 32123, 32124, 32125, 32126, 32127, 32128, 32129, 32130, 32131, 32132, 32133, 32134, 32135, 32136, 32137, 32138, 32139, 32140, 32141, 32142, 32143, 32144, 32145, 32146, 32147, 32148, 32149, 32150, 32151, 32152, 32153, 32154, 32155, 32156, 32157, 32158, 32159, 32160, 32161, 32162, 32163, 32164, 32165, 32166, 32167, 32168, 32169, 32170, 32171, 32172, 32173, 32174, 32175, 32176, 32177, 32178, 32179, 32180, 32181, 32182, 32183, 32184, 32185, 32186, 32187, 32188, 32189, 32190, 32191, 32192, 32193, 32194, 32195, 32196, 32197, 32198, 32199, 32200, 32201, 32202, 32203, 32204, 32205, 32206, 32207, 32208, 32209, 32210, 32211, 32212, 32213, 32214, 32215, 32216, 32217, 32218, 32219, 32220, 32221, 32222, 32223, 32224, 32225, 32226, 32227, 32228, 32229, 32230, 32231, 32232, 32233, 32234, 32235, 32236, 32237, 32238, 32239, 32240, 32241, 32242, 32243, 32244, 32245, 32246, 32247, 32248, 32249, 32250, 32251, 32252, 32253, 32254, 32255, 32256, 32257, 32258, 32259, 32260, 32261, 32262, 32263, 32264, 32265, 32266, 32267, 32268, 32269, 32270, 32271, 32272, 32273, 32274, 32275, 32276, 32277, 32278, 32279, 32280, 32281, 32282, 32283, 32284, 32285, 32286, 32287, 32288, 32289, 32290, 32291, 32292, 32293, 32294, 32295, 32296, 32297, 32298, 32299, 32300, 32301, 32302, 32303, 32304, 32305, 32306, 32307, 32308, 32309, 32310, 32311, 32312, 32313, 32314, 32315, 32316, 32317, 32318, 32319, 32320, 32321, 32322, 32323, 32324, 32325, 32326, 32327, 32328, 32329, 32330, 32331, 32332, 32333, 32334, 32335, 32336, 32337, 32338, 32339, 32340, 32341, 32342, 32343, 32344, 32345, 32346, 32347, 32348, 32349, 32350, 32351, 32352, 32353, 32354, 32355, 32356, 32357, 32358, 32359, 32360, 32361, 32362, 32363, 32364, 32365, 32366, 32367, 32368, 32369, 32370, 32371, 32372, 32373, 32374, 32375, 32376, 32377, 32378, 32379, 32380, 32381, 32382, 32383, 32384, 32385, 32386, 32387, 32388, 32389, 32390, 32391, 32392, 32393, 32394, 32395, 32396, 32397, 32398, 32399, 32400, 32401, 32402, 32403, 32404, 32405, 32406, 32407, 32408, 32409, 32410, 32411, 32412, 32413, 32414, 32415, 32416, 32417, 32418, 32419, 32420, 32421, 32422, 32423, 32424, 32425, 32426, 32427, 32428, 32429, 32430, 32431, 32432, 32433, 32434, 32435, 32436, 32437, 32438, 32439, 32440, 32441, 32442, 32443, 32444, 32445, 32446, 32447, 32448, 32449, 32450, 32451, 32452, 32453, 32454, 32455, 32456, 32457, 32458, 32459, 32460, 32461, 32462, 32463, 32464, 32465, 32466, 32467, 32468, 32469, 32470, 32471, 32472, 32473, 32474, 32475, 32476, 32477, 32478, 32479, 32480, 32481, 32482, 32483, 32484, 32485, 32486, 32487, 32488, 32489, 32490, 32491, 32492, 32493, 32494, 32495, 32496, 32497, 32498, 32499, 32500, 32501, 32502, 32503, 32504, 32505, 32506, 32507, 32508, 32509, 32510, 32511, 32512, 32513, 32514, 32515, 32516, 32517, 32518, 32519, 32520, 32521, 32522, 32523, 32524, 32525, 32526, 32527, 32528, 32529, 32530, 32531, 32532, 32533, 32534, 32535, 32536, 32537, 32538, 32539, 32540, 32541, 32542, 32543, 32544, 32545, 32546, 32547, 32548, 32549, 32550, 32551, 32552, 32553, 32554, 32555, 32556, 32557, 32558, 32559, 32560, 32561, 32562, 32563, 32564, 32565, 32566, 32567, 32568, 32569, 32570, 32571, 32572, 32573, 32574, 32575, 32576, 32577, 32578, 32579, 32580, 32581, 32582, 32583, 32584, 32585, 32586, 32587, 32588, 32589, 32590, 32591, 32592, 32593, 32594, 32595, 32596, 32597, 32598, 32599, 32600, 32601, 32602, 32603, 32604, 32605, 32606, 32607, 32608, 32609, 32610, 32611, 32612, 32613, 32614, 32615, 32616, 32617, 32618, 32619, 32620, 32621, 32622, 32623, 32624, 32625, 32626, 32627, 32628, 32629, 32630, 32631, 32632, 32633, 32634, 32635, 32636, 32637, 32638, 32639, 32640, 32641, 32642, 32643, 32644, 32645, 32646, 32647, 32648, 32649, 32650, 32651, 32652, 32653, 32654, 32655, 32656, 32657, 32658, 32659, 32660, 32661, 32662, 32663, 32664, 32665, 32666, 32667, 32668, 32669, 32670, 32671, 32672, 32673, 32674, 32675, 32676, 32677, 32678, 32679, 32680, 32681, 32682, 32683, 32684, 32685, 32686, 32687, 32688, 32689, 32690, 32691, 32692, 32693, 32694, 32695, 32696, 32697, 32698, 32699, 32700, 32701, 32702, 32703, 32704, 32705, 32706, 32707, 32708, 32709, 32710, 32711, 32712, 32713, 32714, 32715, 32716, 32717, 32718, 32719, 32720, 32721, 32722, 32723, 32724, 32725, 32726, 32727, 32728, 32729, 32730, 32731, 32732, 32733, 32734, 32735, 32736, 32737, 32738, 32739, 32740, 32741, 32742, 32743, 32744, 32745, 32746, 32747, 32748, 32749, 32750, 32751, 32752, 32753, 32754, 32755, 32756, 32757, 32758, 32759, 32760, 32761, 32762, 32763, 32764, 32765, 32766, 32767, 32768, 32769, 32770, 32771, 32772, 32773, 32774, 32775, 32776, 32777, 32778, 32779, 32780, 32781, 32782, 32783, 32784, 32785, 32786, 32787, 32788, 32789, 32790, 32791, 32792, 32793, 32794, 32795, 32796, 32797, 32798, 32799, 32800, 32801, 32802, 32803, 32804, 32805, 32806, 32807, 32808, 32809, 32810, 32811, 32812, 32813, 32814, 32815, 32816, 32817, 32818, 32819, 32820, 32821, 32822, 32823, 32824, 32825, 32826, 32827, 32828, 32829, 32830, 32831, 32832, 32833, 32834, 32835, 32836, 32837, 32838, 32839, 32840, 32841, 32842, 32843, 32844, 32845, 32846, 32847, 32848, 32849, 32850, 32851, 32852, 32853, 32854, 32855, 32856, 32857, 32858, 32859, 32860, 32861, 32862, 32863, 32864, 32865, 32866, 32867, 32868, 32869, 32870, 32871, 32872, 32873, 32874, 32875, 32876, 32877, 32878, 32879, 32880, 32881, 32882, 32883, 32884, 32885, 32886, 32887, 32888, 32889, 32890, 32891, 32892, 32893, 32894, 32895, 32896, 32897, 32898, 32899, 32900, 32901, 32902, 32903, 32904, 32905, 32906, 32907, 32908, 32909, 32910, 32911, 32912, 32913, 32914, 32915, 32916, 32917, 32918, 32919, 32920, 32921, 32922, 32923, 32924, 32925, 32926, 32927, 32928, 32929, 32930, 32931, 32932, 32933, 32934, 32935, 32936, 32937, 32938, 32939, 32940, 32941, 32942, 32943, 32944, 32945, 32946, 32947, 32948, 32949, 32950, 32951, 32952, 32953, 32954, 32955, 32956, 32957, 32958, 32959, 32960, 32961, 32962, 32963, 32964, 32965, 32966, 32967, 32968, 32969, 32970, 32971, 32972, 32973, 32974, 32975, 32976, 32977, 32978, 32979, 32980, 32981, 32982, 32983, 32984, 32985, 32986, 32987, 32988, 32989, 32990, 32991, 32992, 32993, 32994, 32995, 32996, 32997, 32998, 32999, 33000, 33001, 33002, 33003, 33004, 33005, 33006, 33007, 33008, 33009, 33010, 33011, 33012, 33013, 33014, 33015, 33016, 33017, 33018, 33019, 33020, 33021, 33022, 33023, 33024, 33025, 33026, 33027, 33028, 33029, 33030, 33031, 33032, 33033, 33034, 33035, 33036, 33037, 33038, 33039, 33040, 33041, 33042, 33043, 33044, 33045, 33046, 33047, 33048, 33049, 33050, 33051, 33052, 33053, 33054, 33055, 33056, 33057, 33058, 33059, 33060, 33061, 33062, 33063, 33064, 33065, 33066, 33067, 33068, 33069, 33070, 33071, 33072, 33073, 33074, 33075, 33076, 33077, 33078, 33079, 33080, 33081, 33082, 33083, 33084, 33085, 33086, 33087, 33088, 33089, 33090, 33091, 33092, 33093, 33094, 33095, 33096, 33097, 33098, 33099, 33100, 33101, 33102, 33103, 33104, 33105, 33106, 33107, 33108, 33109, 33110, 33111, 33112, 33113, 33114, 33115, 33116, 33117, 33118, 33119, 33120, 33121, 33122, 33123, 33124, 33125, 33126, 33127, 33128, 33129, 33130, 33131, 33132, 33133, 33134, 33135, 33136, 33137, 33138, 33139, 33140, 33141, 33142, 33143, 33144, 33145, 33146, 33147, 33148, 33149, 33150, 33151, 33152, 33153, 33154, 33155, 33156, 33157, 33158, 33159, 33160, 33161, 33162, 33163, 33164, 33165, 33166, 33167, 33168, 33169, 33170, 33171, 33172, 33173, 33174, 33175, 33176, 33177, 33178, 33179, 33180, 33181, 33182, 33183, 33184, 33185, 33186, 33187, 33188, 33189, 33190, 33191, 33192, 33193, 33194, 33195, 33196, 33197, 33198, 33199, 33200, 33201, 33202, 33203, 33204, 33205, 33206, 33207, 33208, 33209, 33210, 33211, 33212, 33213, 33214, 33215, 33216, 33217, 33218, 33219, 33220, 33221, 33222, 33223, 33224, 33225, 33226, 33227, 33228, 33229, 33230, 33231, 33232, 33233, 33234, 33235, 33236, 33237, 33238, 33239, 33240, 33241, 33242, 33243, 33244, 33245, 33246, 33247, 33248, 33249, 33250, 33251, 33252, 33253, 33254, 33255, 33256, 33257, 33258, 33259, 33260, 33261, 33262, 33263, 33264, 33265, 33266, 33267, 33268, 33269, 33270, 33271, 33272, 33273, 33274, 33275, 33276, 33277, 33278, 33279, 33280, 33281, 33282, 33283, 33284, 33285, 33286, 33287, 33288, 33289, 33290, 33291, 33292, 33293, 33294, 33295, 33296, 33297, 33298, 33299, 33300, 33301, 33302, 33303, 33304, 33305, 33306, 33307, 33308, 33309, 33310, 33311, 33312, 33313, 33314, 33315, 33316, 33317, 33318, 33319, 33320, 33321, 33322, 33323, 33324, 33325, 33326, 33327, 33328, 33329, 33330, 33331, 33332, 33333, 33334, 33335, 33336, 33337, 33338, 33339, 33340, 33341, 33342, 33343, 33344, 33345, 33346, 33347, 33348, 33349, 33350, 33351, 33352, 33353, 33354, 33355, 33356, 33357, 33358, 33359, 33360, 33361, 33362, 33363, 33364, 33365, 33366, 33367, 33368, 33369, 33370, 33371, 33372, 33373, 33374, 33375, 33376, 33377, 33378, 33379, 33380, 33381, 33382, 33383, 33384, 33385, 33386, 33387, 33388, 33389, 33390, 33391, 33392, 33393, 33394, 33395, 33396, 33397, 33398, 33399, 33400, 33401, 33402, 33403, 33404, 33405, 33406, 33407, 33408, 33409, 33410, 33411, 33412, 33413, 33414, 33415, 33416, 33417, 33418, 33419, 33420, 33421, 33422, 33423, 33424, 33425, 33426, 33427, 33428, 33429, 33430, 33431, 33432, 33433, 33434, 33435, 33436, 33437, 33438, 33439, 33440, 33441, 33442, 33443, 33444, 33445, 33446, 33447, 33448, 33449, 33450, 33451, 33452, 33453, 33454, 33455, 33456, 33457, 33458, 33459, 33460, 33461, 33462, 33463, 33464, 33465, 33466, 33467, 33468, 33469, 33470, 33471, 33472, 33473, 33474, 33475, 33476, 33477, 33478, 33479, 33480, 33481, 33482, 33483, 33484, 33485, 33486, 33487, 33488, 33489, 33490, 33491, 33492, 33493, 33494, 33495, 33496, 33497, 33498, 33499, 33500, 33501, 33502, 33503, 33504, 33505, 33506, 33507, 33508, 33509, 33510, 33511, 33512, 33513, 33514, 33515, 33516, 33517, 33518, 33519, 33520, 33521, 33522, 33523, 33524, 33525, 33526, 33527, 33528, 33529, 33530, 33531, 33532, 33533, 33534, 33535, 33536, 33537, 33538, 33539, 33540, 33541, 33542, 33543, 33544, 33545, 33546, 33547, 33548, 33549, 33550, 33551, 33552, 33553, 33554, 33555, 33556, 33557, 33558, 33559, 33560, 33561, 33562, 33563, 33564, 33565, 33566, 33567, 33568, 33569, 33570, 33571, 33572, 33573, 33574, 33575, 33576, 33577, 33578, 33579, 33580, 33581, 33582, 33583, 33584, 33585, 33586, 33587, 33588, 33589, 33590, 33591, 33592, 33593, 33594, 33595, 33596, 33597, 33598, 33599, 33600, 33601, 33602, 33603, 33604, 33605, 33606, 33607, 33608, 33609, 33610, 33611, 33612, 33613, 33614, 33615, 33616, 33617, 33618, 33619, 33620, 33621, 33622, 33623, 33624, 33625, 33626, 33627, 33628, 33629, 33630, 33631, 33632, 33633, 33634, 33635, 33636, 33637, 33638, 33639, 33640, 33641, 33642, 33643, 33644, 33645, 33646, 33647, 33648, 33649, 33650, 33651, 33652, 33653, 33654, 33655, 33656, 33657, 33658, 33659, 33660, 33661, 33662, 33663, 33664, 33665, 33666, 33667, 33668, 33669, 33670, 33671, 33672, 33673, 33674, 33675, 33676, 33677, 33678, 33679, 33680, 33681, 33682, 33683, 33684, 33685, 33686, 33687, 33688, 33689, 33690, 33691, 33692, 33693, 33694, 33695, 33696, 33697, 33698, 33699, 33700, 33701, 33702, 33703, 33704, 33705, 33706, 33707, 33708, 33709, 33710, 33711, 33712, 33713, 33714, 33715, 33716, 33717, 33718, 33719, 33720, 33721, 33722, 33723, 33724, 33725, 33726, 33727, 33728, 33729, 33730, 33731, 33732, 33733, 33734, 33735, 33736, 33737, 33738, 33739, 33740, 33741, 33742, 33743, 33744, 33745, 33746, 33747, 33748, 33749, 33750, 33751, 33752, 33753, 33754, 33755, 33756, 33757, 33758, 33759, 33760, 33761, 33762, 33763, 33764, 33765, 33766, 33767, 33768, 33769, 33770, 33771, 33772, 33773, 33774, 33775, 33776, 33777, 33778, 33779, 33780, 33781, 33782, 33783, 33784, 33785, 33786, 33787, 33788, 33789, 33790, 33791, 33792, 33793, 33794, 33795, 33796, 33797, 33798, 33799, 33800, 33801, 33802, 33803, 33804, 33805, 33806, 33807, 33808, 33809, 33810, 33811, 33812, 33813, 33814, 33815, 33816, 33817, 33818, 33819, 33820, 33821, 33822, 33823, 33824, 33825, 33826, 33827, 33828, 33829, 33830, 33831, 33832, 33833, 33834, 33835, 33836, 33837, 33838, 33839, 33840, 33841, 33842, 33843, 33844, 33845, 33846, 33847, 33848, 33849, 33850, 33851, 33852, 33853, 33854, 33855, 33856, 33857, 33858, 33859, 33860, 33861, 33862, 33863, 33864, 33865, 33866, 33867, 33868, 33869, 33870, 33871, 33872, 33873, 33874, 33875, 33876, 33877, 33878, 33879, 33880, 33881, 33882, 33883, 33884, 33885, 33886, 33887, 33888, 33889, 33890, 33891, 33892, 33893, 33894, 33895, 33896, 33897, 33898, 33899, 33900, 33901, 33902, 33903, 33904, 33905, 33906, 33907, 33908, 33909, 33910, 33911, 33912, 33913, 33914, 33915, 33916, 33917, 33918, 33919, 33920, 33921, 33922, 33923, 33924, 33925, 33926, 33927, 33928, 33929, 33930, 33931, 33932, 33933, 33934, 33935, 33936, 33937, 33938, 33939, 33940, 33941, 33942, 33943, 33944, 33945, 33946, 33947, 33948, 33949, 33950, 33951, 33952, 33953, 33954, 33955, 33956, 33957, 33958, 33959, 33960, 33961, 33962, 33963, 33964, 33965, 33966, 33967, 33968, 33969, 33970, 33971, 33972, 33973, 33974, 33975, 33976, 33977, 33978, 33979, 33980, 33981, 33982, 33983, 33984, 33985, 33986, 33987, 33988, 33989, 33990, 33991, 33992, 33993, 33994, 33995, 33996, 33997, 33998, 33999, 34000, 34001, 34002, 34003, 34004, 34005, 34006, 34007, 34008, 34009, 34010, 34011, 34012, 34013, 34014, 34015, 34016, 34017, 34018, 34019, 34020, 34021, 34022, 34023, 34024, 34025, 34026, 34027, 34028, 34029, 34030, 34031, 34032, 34033, 34034, 34035, 34036, 34037, 34038, 34039, 34040, 34041, 34042, 34043, 34044, 34045, 34046, 34047, 34048, 34049, 34050, 34051, 34052, 34053, 34054, 34055, 34056, 34057, 34058, 34059, 34060, 34061, 34062, 34063, 34064, 34065, 34066, 34067, 34068, 34069, 34070, 34071, 34072, 34073, 34074, 34075, 34076, 34077, 34078, 34079, 34080, 34081, 34082, 34083, 34084, 34085, 34086, 34087, 34088, 34089, 34090, 34091, 34092, 34093, 34094, 34095, 34096, 34097, 34098, 34099, 34100, 34101, 34102, 34103, 34104, 34105, 34106, 34107, 34108, 34109, 34110, 34111, 34112, 34113, 34114, 34115, 34116, 34117, 34118, 34119, 34120, 34121, 34122, 34123, 34124, 34125, 34126, 34127, 34128, 34129, 34130, 34131, 34132, 34133, 34134, 34135, 34136, 34137, 34138, 34139, 34140, 34141, 34142, 34143, 34144, 34145, 34146, 34147, 34148, 34149, 34150, 34151, 34152, 34153, 34154, 34155, 34156, 34157, 34158, 34159, 34160, 34161, 34162, 34163, 34164, 34165, 34166, 34167, 34168, 34169, 34170, 34171, 34172, 34173, 34174, 34175, 34176, 34177, 34178, 34179, 34180, 34181, 34182, 34183, 34184, 34185, 34186, 34187, 34188, 34189, 34190, 34191, 36328, 38465, 40602, 42739, 44876, 47013, 49150, 51287, 53424, 55561, 57698, 59835, 61972, 64109, 66246, 68383, 70520, 72657, 74794, 76931, 79068, 81205, 83342, 85479]
CH
[2136, 4273, 6410, 8547, 10684, 12821, 14958, 17095, 19232, 21369, 23506, 25643, 27780, 29917, 32054, 34191, 36328, 38465, 40602, 42739, 44876, 47013, 49150, 51287, 53424, 55561, 57698, 59835, 61972, 64109, 66246, 68383, 70520, 72657, 74794, 76931, 79068, 81205, 83342, 85479]
GB
BE
[2136, 4273, 6410, 8547, 10684, 12821, 14958, 17095, 19232, 21369, 23506, 25643, 27780, 29917, 32054, 34191, 36328, 38465, 40602, 42739, 44876, 47013, 49150, 51287, 53424, 55561, 57698, 59835, 61972, 64109, 66246, 68383, 70520, 72657, 74794, 76931, 79068, 81205, 83342, 85479]

# 2. Forecast with XGBoost